<%= link_to "Back", restaurants_path %>

<h1>Restaurant</h1>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %> / 5</p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Type of food: <%= @restaurant.category %></p>
